In [1]:
import pandas as pd
companies = pd.read_csv("companies.csv")
companies

         Company                Department  NumOfMen  NumOfFem
0          Avamm                Accounting        63         9
1     Browsezoom                  Training        13        89
2        Tagchat                     Legal        87        48
3          Skyba           Human Resources        60        63
4          Lazzy  Research and Development        11        40
5   Thoughtworks        Product Management        41        90
6     Jabbercube      Business Development        31        68
7        Dabtype                     Legal        54        78
8       Fanoodle                  Services        16        43
9      Linklinks                Accounting        34         4
10    Fivebridge                  Training        55        62
11         Kazio                     Sales        75        33
12      Snaptags                 Marketing        12        19
13          Yotz                   Support        65        69
14         Rooxo                Accounting         9        78
15  Jabbersphere      Business Development        14        75
16          Yotz  Research and Development        93        91
17       Zoonder                     Legal        82        28
18         Zoovu                  Training        47        86
19   Brainlounge        Product Management        67        52

In [2]:
companies["NumOfMen"].sum()

929

In [ ]:
companies["NumOfFem"].mean()