# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [1]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [2]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [3]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [4]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [5]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [9]:
employees.append("Jake")
employees.append("Lucy")
s= pd.Series(employees)
s

0     Georgia
1      Edward
2     William
3        Jack
4      Juliet
5       Daisy
6       Frank
7        Jake
8        Lucy
9        Jake
10       Lucy
11       Jake
12       Lucy
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [10]:
components=pd.Series(["GPU","CPU","Motherboard","RAM","Cooling"])
components

0            GPU
1            CPU
2    Motherboard
3            RAM
4        Cooling
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [19]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

C:\Users\s-115-17\AppData\Local\Temp\ipykernel_6392\1200364670.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  tools[1]

4

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [22]:
tools_in_stock['wrench'] = 2
tools_in_stock['ratchet'] = 12
tools=pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
wrench          2
ratchet        12
dtype: int64

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [28]:
tools.sum()

72

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

### Tasks

Calculate the average number of tools in stock.

In [30]:
tools.mean()

10.285714285714286

Generate descriptive statistics for the tools in stock.

In [34]:
tools.describe()

count     7.000000
mean     10.285714
std       7.158079
min       2.000000
25%       5.500000
50%       9.000000
75%      13.500000
max      23.000000
dtype: float64

## Data Limitation

You can specify a single value in Series.

In [35]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [36]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

For the selected values you can then calculate various statistics.

In [37]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [38]:
restaurant=pd.Series(data={"Mon":3,"Tue":6,"Wed":6,"Thu":7,"Fri":12,"Sat":15,"Sun":13})

Mon     3
Tue     6
Wed     6
Thu     7
Fri    12
Sat    15
Sun    13
dtype: int64

With the created data series, follow the instructions below.

Display the contents of the Series.

In [39]:
restaurant

Mon     3
Tue     6
Wed     6
Thu     7
Fri    12
Sat    15
Sun    13
dtype: int64

Display the total number of restaurant customers.

In [40]:
restaurant.sum()

62

Display the median number of restaurant customers.

In [41]:
restaurant.median()

7.0

Display descriptive statistics.

In [42]:
restaurant.describe()

count     7.000000
mean      8.857143
std       4.450789
min       3.000000
25%       6.000000
50%       7.000000
75%      12.500000
max      15.000000
dtype: float64

Display the list of restaurant customers on business days.

In [44]:
restaurant["Mon":"Fri"]

Mon     3
Tue     6
Wed     6
Thu     7
Fri    12
dtype: int64

In [46]:
restaurant["Mon":'Fri'].mean()

6.8

Display the average number of customers visiting the restaurant during working days.

Display the list of restaurant customers on the weekend.

In [48]:
restaurant["Sat":"Sun"]

Sat    15
Sun    13
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [49]:
restaurant["Sat":"Sun"].sum()

28