# ROWS AND COLUMNS
---

Sometimes you need to limit data to selected rows or columns. You can achieve this by using the available DataFrame methods.

## Specyfing Row and Column Names or Numbers

The CSV file contains the list of The Academy Awards for the last 10 years, commonly and now officially known as the Oscars, for artistic and technical merit for the film industry.

In [2]:
import pandas as pd

In [3]:
oscars = pd.read_csv('oscars.csv')
oscars

,Year,Category,Name,Movie
0,2023,Best Actress,Michelle Yeoh,Everything Everywhere All at Once
1,2023,Best Actor,Brendan Fraser,The Whale
2,2022,Best Actress,Jessica Chastain,The Eyes of Tammy Faye
3,2022,Best Actor,Will Smith,King Richard
4,2021,Best Actress,Frances McDormand,Nomadland
5,2021,Best Actor,Anthony Hopkins,The Father
6,2020,Best Actress,Renée Zellweger,Judy
7,2020,Best Actor,Joaquin Phoenix,Joker
8,2019,Best Actress,Olivia Colman,The Favourite
9,2019,Best Actor,Rami Malek,Bohemian Rhapsody
10,2018,Best Actress,Frances McDormand,Three Billboards Outside Ebbing Missouri
11,2018,Best Actor,Gary Oldman,Darkest Hour
12,2017,Best Actress,Emma Stone,La La Land
13,2017,Best Actor,Casey Affleck,Manchester by the Sea
14,2016,Best Actress,Brie Larson,Room
15,2016,Best Actor,Leonardo DiCaprio,The Revenant
16,2015,Best Actress,Julianne Moore,Still Alice
17,2015,Best Actor,Eddie Redmayne,The Theory of Everything
18,2014,Best Actress,Cate Blanchett,Blue Jasmine
19,2014,Best Actor,Matthew McConaughey,Dallas Buyers Club

To display the name of actor Leonardo DiCaprio, enter the row and column number. Remember that numbering starts from 0.

In [6]:
oscars.iloc[15,2]

'Leonardo DiCaprio'

Instead of row and column numbers, you can enter row and column names.

In [7]:
oscars.loc[15,'Name']

'Leonardo DiCaprio'

### Tasks

Now try displaying the movie title 'Three Billboards Outside Ebbing Missouri'. Use two methods, specifying:

* row and column numbers
* row and column names

In [8]:
oscars.loc[10,"Movie"]

'Three Billboards Outside Ebbing Missouri'

## Entering Range of Rows and Columns

To select any rows and columns, you can list their names/numbers or specify a range of names/numbers separated by a colon. For example:

In [9]:
oscars.iloc[3:7]

   Year      Category               Name         Movie
3  2022    Best Actor         Will Smith  King Richard
4  2021  Best Actress  Frances McDormand     Nomadland
5  2021    Best Actor    Anthony Hopkins    The Father
6  2020  Best Actress    Renée Zellweger          Judy

In [12]:
oscars.iloc[5:10,2:4]

              Name              Movie
5  Anthony Hopkins         The Father
6  Renée Zellweger               Judy
7  Joaquin Phoenix              Joker
8    Olivia Colman      The Favourite
9       Rami Malek  Bohemian Rhapsody

In [13]:
oscars.iloc[[10,3,17],[2,3]]

                 Name                                     Movie
10  Frances McDormand  Three Billboards Outside Ebbing Missouri
3          Will Smith                              King Richard
17     Eddie Redmayne                  The Theory of Everything

In [14]:
oscars.loc[:,['Movie','Name','Year']]

                                       Movie                 Name  Year
0          Everything Everywhere All at Once        Michelle Yeoh  2023
1                                  The Whale       Brendan Fraser  2023
2                     The Eyes of Tammy Faye     Jessica Chastain  2022
3                               King Richard           Will Smith  2022
4                                  Nomadland    Frances McDormand  2021
5                                 The Father      Anthony Hopkins  2021
6                                       Judy      Renée Zellweger  2020
7                                      Joker      Joaquin Phoenix  2020
8                              The Favourite        Olivia Colman  2019
9                          Bohemian Rhapsody           Rami Malek  2019
10  Three Billboards Outside Ebbing Missouri    Frances McDormand  2018
11                              Darkest Hour          Gary Oldman  2018
12                                La La Land           Emma Stone  2017
13                     Manchester by the Sea        Casey Affleck  2017
14                                      Room          Brie Larson  2016
15                              The Revenant    Leonardo DiCaprio  2016
16                               Still Alice       Julianne Moore  2015
17                  The Theory of Everything       Eddie Redmayne  2015
18                              Blue Jasmine       Cate Blanchett  2014
19                        Dallas Buyers Club  Matthew McConaughey  2014

### Tasks

Display the first two rows of data.

In [21]:
oscars.iloc[2,:]

Year                          2022
Category              Best Actress
Name              Jessica Chastain
Movie       The Eyes of Tammy Faye
Name: 2, dtype: object

Display the first three columns of data.

In [22]:
oscars.iloc[:,1:4]

,Category,Name,Movie
0,Best Actress,Michelle Yeoh,Everything Everywhere All at Once
1,Best Actor,Brendan Fraser,The Whale
2,Best Actress,Jessica Chastain,The Eyes of Tammy Faye
3,Best Actor,Will Smith,King Richard
4,Best Actress,Frances McDormand,Nomadland
5,Best Actor,Anthony Hopkins,The Father
6,Best Actress,Renée Zellweger,Judy
7,Best Actor,Joaquin Phoenix,Joker
8,Best Actress,Olivia Colman,The Favourite
9,Best Actor,Rami Malek,Bohemian Rhapsody
10,Best Actress,Frances McDormand,Three Billboards Outside Ebbing Missouri
11,Best Actor,Gary Oldman,Darkest Hour
12,Best Actress,Emma Stone,La La Land
13,Best Actor,Casey Affleck,Manchester by the Sea
14,Best Actress,Brie Larson,Room
15,Best Actor,Leonardo DiCaprio,The Revenant
16,Best Actress,Julianne Moore,Still Alice
17,Best Actor,Eddie Redmayne,The Theory of Everything
18,Best Actress,Cate Blanchett,Blue Jasmine
19,Best Actor,Matthew McConaughey,Dallas Buyers Club

Display data without a Name column.

In [24]:
oscars.loc[:,["Year","Category","Movie"]]

KeyError: '[False] not in index'

## Displaying Any First or Last Rows of Data

In addition, you can display the first or last few rows of data. To do this, use the head() or tail() methods. You can even specify how many rows to display.

In [25]:
oscars.head()

   Year      Category               Name                              Movie
0  2023  Best Actress      Michelle Yeoh  Everything Everywhere All at Once
1  2023    Best Actor     Brendan Fraser                          The Whale
2  2022  Best Actress   Jessica Chastain             The Eyes of Tammy Faye
3  2022    Best Actor         Will Smith                       King Richard
4  2021  Best Actress  Frances McDormand                          Nomadland

In [26]:
oscars.tail(3)

    Year      Category                 Name                     Movie
17  2015    Best Actor       Eddie Redmayne  The Theory of Everything
18  2014  Best Actress       Cate Blanchett              Blue Jasmine
19  2014    Best Actor  Matthew McConaughey        Dallas Buyers Club

### Tasks

Display the first 10 rows.

In [27]:
oscars.head(10)

   Year      Category               Name                              Movie
0  2023  Best Actress      Michelle Yeoh  Everything Everywhere All at Once
1  2023    Best Actor     Brendan Fraser                          The Whale
2  2022  Best Actress   Jessica Chastain             The Eyes of Tammy Faye
3  2022    Best Actor         Will Smith                       King Richard
4  2021  Best Actress  Frances McDormand                          Nomadland
5  2021    Best Actor    Anthony Hopkins                         The Father
6  2020  Best Actress    Renée Zellweger                               Judy
7  2020    Best Actor    Joaquin Phoenix                              Joker
8  2019  Best Actress      Olivia Colman                      The Favourite
9  2019    Best Actor         Rami Malek                  Bohemian Rhapsody

Display the last 5 rows of data with the columns: Movie, Year.

In [31]:
oscars.tail(5).loc[:,["Year","Movie"]]

    Year                     Movie
15  2016              The Revenant
16  2015               Still Alice
17  2015  The Theory of Everything
18  2014              Blue Jasmine
19  2014        Dallas Buyers Club

Display the first and last rows of data containing only the first and last columns.

In [39]:
oscars.iloc[[1,-1],[1,-1]]

      Category               Movie
1   Best Actor           The Whale
19  Best Actor  Dallas Buyers Club